***ASSIGNMENT***

***MongoDB***

Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

Ans-

MongoDB is a popular NoSQL (non-relational) database management system. Non-relational databases are designed to store and retrieve data in ways that are different from traditional relational databases (SQL databases). Here's a brief explanation and when to prefer MongoDB over SQL databases:

***Data Model:*** MongoDB uses a document-oriented data model, where data is stored in flexible, JSON-like documents called BSON (Binary JSON). These documents can have nested fields and arrays.

***Schema Flexibility:*** MongoDB is schema-less, meaning you can change the structure of documents without affecting other documents in the collection. This flexibility is well-suited for evolving or dynamic data.

***Horizontal Scalability:*** MongoDB can easily scale out by distributing data across multiple servers or clusters, making it suitable for handling large amounts of data and high traffic loads.

***Query Language:*** It provides a powerful query language for retrieving and manipulating data, including support for geospatial queries, text search, and aggregation pipelines.

***Use Cases:*** MongoDB is often preferred for scenarios such as content management systems, real-time analytics, Internet of Things (IoT) applications, and projects with rapidly changing or unstructured data.

***Scenarios to Prefer MongoDB over SQL Databases:***

***Schema Flexibility:***

 When your application's data structure is dynamic or evolving frequently, MongoDB's schema-less design is advantageous.

***Big data and high Thoughput:***

 MongoDB's horizontal scalability makes it suitable for handling large volumes of data and high traffic loads, especially in applications like social media, gaming, or real-time analytics.

***Semi-Structured data:***

 If your data doesn't fit neatly into tables and rows, but instead has complex, nested, or hierarchical structures, MongoDB's document model is a better fit.

Rapid Development: MongoDB can expedite development since it doesn't require a predefined schema. Developers can start working with data quickly.

***Geospatial data:***

MongoDB's support for geospatial queries makes it a strong choice for location-based applications.

Q2. State and Explain the features of MongoDB.

Ans-

MongoDB is a popular NoSQL database management system known for its flexibility, scalability, and ease of use. Here are some of its key features:

***Document-Oriented:*** MongoDB stores data in flexible, JSON-like documents called BSON (Binary JSON). Each document can have different fields and structures, making it easy to work with semi-structured or evolving data.

***No Schema Enforcement:*** MongoDB is schema-less, meaning you can insert documents into a collection without a predefined schema. This allows for easy modification and expansion of data structures without affecting existing data.

***Dynamic Schema:*** As data evolves, MongoDB can handle changes in the structure of documents within a collection. This adaptability is beneficial for agile development and fast iteration.

***Rich Query Language:*** MongoDB provides a powerful query language for retrieving and manipulating data. It supports a wide range of queries, including equality, range, text search, geospatial, and aggregation queries using the aggregation framework.

***Indexes:*** MongoDB supports the creation of indexes on fields, which improves query performance. You can create single-field or compound indexes to speed up common queries.

These are some features of MongoDB

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

Ans-

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (671 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 671.3/671.3 kB 14.9 MB/s eta 0:00:0000:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 36.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.5.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pymongo

In [3]:
client=pymongo.MongoClient("mongodb+srv://mdosama85_:mdosama85_@cluster0.h3onk4z.mongodb.net/?retryWrites=true&w=majority")
db=client.test

In [4]:
db

Database(MongoClient(host=['ac-vph5tpa-shard-00-01.h3onk4z.mongodb.net:27017', 'ac-vph5tpa-shard-00-00.h3onk4z.mongodb.net:27017', 'ac-vph5tpa-shard-00-02.h3onk4z.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-koo6vv-shard-0', tls=True), 'test')

In [11]:
# create a database in MongoDB

In [5]:
client=pymongo.MongoClient("mongodb+srv://mdosama85_:osama1585@cluster0.h3onk4z.mongodb.net/?retryWrites=true&w=majority")

In [8]:
# create database
db=client['my_databse']

In [9]:
# collection in database
data ={"name":"osama",
       "department":"data sciece",
       "time":"flexi"}

In [10]:
# create collection in database
coll_mine=db["my_coll"]

In [11]:
coll_mine.insert_one(data)

In [12]:
data2={"name":"yasir",
       "depatment":"urdu",
       "phone":988901010101}

In [13]:
coll_mine.insert_one(data2)

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

Ans-

In [14]:
# insert data
rail_ticket={"name":"arfat",
             "class":"sleeper",
             "birth":"2a"}

In [16]:
# insert one record
coll_mine.insert_one(rail_ticket)

In [17]:
ticktes_people_list=[
    {"name":"samar","class":"sleeper","birth":"2s"},
    {"name":"saniya","class":"sleeper","birth":"2s"},
    {"name":"kamar","class":"ac","birth":"3a"}
]

In [18]:
# insert many
coll_mine.insert_many(ticktes_people_list)

In [24]:
# find one()
coll_mine.find_one()

{'_id': ObjectId('650c1e208e2806832fee362a'),
 'name': 'osama',
 'department': 'data sciece',
 'time': 'flexi'}

In [25]:
# find one()
coll_mine.find_one({"name":"samar"})

{'_id': ObjectId('650c8ecd1f597807de797faa'),
 'name': 'samar',
 'class': 'sleeper',
 'birth': '2s'}

In [27]:
# find()
for i in coll_mine.find():
    print(i)

{'_id': ObjectId('650c1e208e2806832fee362a'), 'name': 'osama', 'department': 'data sciece', 'time': 'flexi'}
{'_id': ObjectId('650c20168e2806832fee362b'), 'name': 'osama', 'department': 'data sciece', 'time': 'flexi'}
{'_id': ObjectId('650c20e08e2806832fee362c'), 'name': 'yasir', 'depatment': 'urdu', 'phone': 988901010101}
{'_id': ObjectId('650c8c481f597807de797fa7'), 'name': 'osama', 'department': 'data sciece', 'time': 'flexi'}
{'_id': ObjectId('650c8c4d1f597807de797fa8'), 'name': 'yasir', 'depatment': 'urdu', 'phone': 988901010101}
{'_id': ObjectId('650c8d651f597807de797fa9'), 'name': 'arfat', 'class': 'sleeper', 'birth': '2a'}
{'_id': ObjectId('650c8ecd1f597807de797faa'), 'name': 'samar', 'class': 'sleeper', 'birth': '2s'}
{'_id': ObjectId('650c8ecd1f597807de797fab'), 'name': 'saniya', 'class': 'sleeper', 'birth': '2s'}
{'_id': ObjectId('650c8ecd1f597807de797fac'), 'name': 'kamar', 'class': 'ac', 'birth': '3a'}

In [28]:
# find()
for i in coll_mine.find({"class":"sleeper"}):
    print(i)

{'_id': ObjectId('650c8d651f597807de797fa9'), 'name': 'arfat', 'class': 'sleeper', 'birth': '2a'}
{'_id': ObjectId('650c8ecd1f597807de797faa'), 'name': 'samar', 'class': 'sleeper', 'birth': '2s'}
{'_id': ObjectId('650c8ecd1f597807de797fab'), 'name': 'saniya', 'class': 'sleeper', 'birth': '2s'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

Ans-

In MongoDB, the find() method is used to query documents in a collection. It allows you to search for documents that match specific criteria or conditions and retrieve the results. Here's how you can use the find() method to query the MongoDB database:

In [31]:
# connecting MongoDB server
client=pymongo.MongoClient("mongodb+srv://mdosama85_:osama1585@cluster0.h3onk4z.mongodb.net/?retryWrites=true&w=majority")

In [33]:
# create database 
db=client["osama's_database"]

In [34]:
# create collection
my_colle=db["osama_colle"]

In [35]:
# filling data
osama_document=[
    {"name":"kaif","sub":"data science"},
    {"name":"shalu","sub":"programming"},
    {"name":"saif","sub":"data science"}
]

In [36]:
# insert data
my_colle.insert_many(osama_document)

In [37]:
# here use find method
for i in my_colle.find():
    print(i)

{'_id': ObjectId('650c94801f597807de797fae'), 'name': 'kaif', 'sub': 'data science'}
{'_id': ObjectId('650c94801f597807de797faf'), 'name': 'shalu', 'sub': 'programming'}
{'_id': ObjectId('650c94801f597807de797fb0'), 'name': 'saif', 'sub': 'data science'}

In [39]:
# here use find method which we want
for i in my_colle.find({"sub":"data science"}):
    print(i)

{'_id': ObjectId('650c94801f597807de797fae'), 'name': 'kaif', 'sub': 'data science'}
{'_id': ObjectId('650c94801f597807de797fb0'), 'name': 'saif', 'sub': 'data science'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Ans-

The sort() method in MongoDB is used to sort the documents in a collection based on one or more fields in either ascending or descending order. You can specify the sorting criteria by passing an object to the sort() method, where each key represents a field by which to sort, and the value indicates the sorting order (1 for ascending and -1 for descending).

Example of sort() method--

In [5]:
# connecting MongoDB server
client=pymongo.MongoClient("mongodb+srv://mdosama85_:osama1585@cluster0.h3onk4z.mongodb.net/?retryWrites=true&w=majority")

In [7]:
db=client["my_database2"]

In [25]:
my_doc2=[
    {"name":"ossa","dep":"science","rank":200,"salary":70000},
    {"name":"hardeep","dep":"art","rank":285,"salary":60000},
    {"name":"kamar","dep":"science","rank":300,"salary":70000},
    {"name":"aman","dep":"maths","rank":190,"salary":70000},
    {"name":"kumar","dep":"commerce","rank":85,"salary":60000}
]

In [9]:
my_coll2=db["ossu_coll"]

In [26]:
my_coll2.insert_many(my_doc2)

In [29]:
# sort method ascending order
for i in my_coll2.find().sort("rank",1):
    print(i)

{'_id': ObjectId('650d201ef40d0cda0a9e1835'), 'name': 'ossa', 'dep': 'science', 'salary': 70000}
{'_id': ObjectId('650d201ef40d0cda0a9e1836'), 'name': 'hardeep', 'dep': 'art', 'salary': 60000}
{'_id': ObjectId('650d201ef40d0cda0a9e1837'), 'name': 'kamar', 'dep': 'science', 'salary': 70000}
{'_id': ObjectId('650d201ef40d0cda0a9e1838'), 'name': 'aman', 'dep': 'maths', 'salary': 70000}
{'_id': ObjectId('650d201ef40d0cda0a9e1839'), 'name': 'kumar', 'dep': 'commerce', 'salary': 60000}
{'_id': ObjectId('650d20a6f40d0cda0a9e183e'), 'name': 'kumar', 'dep': 'commerce', 'rank': 85, 'salary': 60000}
{'_id': ObjectId('650d23a9f40d0cda0a9e1843'), 'name': 'kumar', 'dep': 'commerce', 'rank': 85, 'salary': 60000}
{'_id': ObjectId('650d20a6f40d0cda0a9e183d'), 'name': 'aman', 'dep': 'maths', 'rank': 190, 'salary': 70000}
{'_id': ObjectId('650d23a9f40d0cda0a9e1842'), 'name': 'aman', 'dep': 'maths', 'rank': 190, 'salary': 70000}
{'_id': ObjectId('650d20a6f40d0cda0a9e183a'), 'name': 'ossa', 'dep': 'science', 'rank': 200, 'salary': 70000}
{'_id': ObjectId('650d23a9f40d0cda0a9e183f'), 'name': 'ossa', 'dep': 'science', 'rank': 200, 'salary': 70000}
{'_id': ObjectId('650d20a6f40d0cda0a9e183b'), 'name': 'hardeep', 'dep': 'art', 'rank': 285, 'salary': 60000}
{'_id': ObjectId('650d23a9f40d0cda0a9e1840'), 'name': 'hardeep', 'dep': 'art', 'rank': 285, 'salary': 60000}
{'_id': ObjectId('650d20a6f40d0cda0a9e183c'), 'name': 'kamar', 'dep': 'science', 'rank': 300, 'salary': 70000}
{'_id': ObjectId('650d23a9f40d0cda0a9e1841'), 'name': 'kamar', 'dep': 'science', 'rank': 300, 'salary': 70000}

In [30]:
# sort method descending order
for i in my_coll2.find().sort("rank",-1):
    print(i)

{'_id': ObjectId('650d20a6f40d0cda0a9e183c'), 'name': 'kamar', 'dep': 'science', 'rank': 300, 'salary': 70000}
{'_id': ObjectId('650d23a9f40d0cda0a9e1841'), 'name': 'kamar', 'dep': 'science', 'rank': 300, 'salary': 70000}
{'_id': ObjectId('650d20a6f40d0cda0a9e183b'), 'name': 'hardeep', 'dep': 'art', 'rank': 285, 'salary': 60000}
{'_id': ObjectId('650d23a9f40d0cda0a9e1840'), 'name': 'hardeep', 'dep': 'art', 'rank': 285, 'salary': 60000}
{'_id': ObjectId('650d20a6f40d0cda0a9e183a'), 'name': 'ossa', 'dep': 'science', 'rank': 200, 'salary': 70000}
{'_id': ObjectId('650d23a9f40d0cda0a9e183f'), 'name': 'ossa', 'dep': 'science', 'rank': 200, 'salary': 70000}
{'_id': ObjectId('650d20a6f40d0cda0a9e183d'), 'name': 'aman', 'dep': 'maths', 'rank': 190, 'salary': 70000}
{'_id': ObjectId('650d23a9f40d0cda0a9e1842'), 'name': 'aman', 'dep': 'maths', 'rank': 190, 'salary': 70000}
{'_id': ObjectId('650d20a6f40d0cda0a9e183e'), 'name': 'kumar', 'dep': 'commerce', 'rank': 85, 'salary': 60000}
{'_id': ObjectId('650d23a9f40d0cda0a9e1843'), 'name': 'kumar', 'dep': 'commerce', 'rank': 85, 'salary': 60000}
{'_id': ObjectId('650d201ef40d0cda0a9e1835'), 'name': 'ossa', 'dep': 'science', 'salary': 70000}
{'_id': ObjectId('650d201ef40d0cda0a9e1836'), 'name': 'hardeep', 'dep': 'art', 'salary': 60000}
{'_id': ObjectId('650d201ef40d0cda0a9e1837'), 'name': 'kamar', 'dep': 'science', 'salary': 70000}
{'_id': ObjectId('650d201ef40d0cda0a9e1838'), 'name': 'aman', 'dep': 'maths', 'salary': 70000}
{'_id': ObjectId('650d201ef40d0cda0a9e1839'), 'name': 'kumar', 'dep': 'commerce', 'salary': 60000}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Ans-

In MongoDB, delete_one(), delete_many(), and drop() are methods used to remove documents or collections from a database.

***delete_one()***

Use: This method is used to delete a single document that matches a specified filter or criteria.

***collectionName:*** The name of the collection from which you want to delete a document.

***filter:*** A query object that specifies the criteria for selecting the document to be deleted. Only the first matching document will be deleted.

***options (optional):*** Additional options like collation, session, etc., can be passed as an optional argument.

***delete_many:***

Use: This method is used to delete multiple documents that match a specified filter or criteria.

***collectionName:*** The name of the collection from which you want to delete documents.

***filter:*** A query object that specifies the criteria for selecting the documents to be deleted.

***options (optional):*** Additional options like collation, session, etc., can be passed as an optional argument.

***drop:***

Use: This method is used to remove an entire collection, including all of its documents, indexes, and associated metadata.

***collectionName:*** The name of the collection that you want to drop.